# eclipse
bin
.vscode
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

#Forge
run
runs

#OS
Thumbs.db
Desktop.ini
.DS_Store

#ログ
*.log

# Files from Forge MDK
forge*changelog.txt
